$primary: #3f4a5d;
$assist: #f7da7d;
.logo {
  width: 170px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.drive-img {
  height: 580px;
}
.drive-list {
  transform: translateY(-35%);
}
.drive-item {
  &:hover {
    background-color: $assist !important;
    a {
      color: $primary !important;
    }
  }
}
.bg-cover {
  background-position: center center;
  background-size: cover;
}
.text-vertical {
  writing-mode: vertical-lr;
  letter-spacing: 10px;
}
.scheduled-img {
  min-height: 320px;
}
.scheduled .list-group-item {
  border-bottom: 1px solid $aid;
}
.box-shadow {
  &:hover {
    box-shadow: 1px 3px 5px rgba(48, 47, 47, 0.226);
  }
}
.teaching {
  margin-top: -30px;
}
.special{  
  writing-mode: vertical-lr;
  letter-spacing: 5px;
  position: absolute;
  left:  10px;
}
.box-shadow:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
}
@media (max-width: 767px) {
  .logo {
    width: 120px;
  }
  .drive-img {
    height: 320px;
  }
}
@media (max-width: 576px) {
  .scheduled-img {
    min-height: 240px;
  }
  .scheduled {
    font-size: 1.25rem !important;
  }
}
