.community-link {
  position: relative;
}
.community-link::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 60px;
  height: 3px;
  transform: translateX(-110%);
  background-color: #3f4a5d;
}
.community-link::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 60px;
  height: 3px;
  transform: translateX(10%);
  background-color: #3f4a5d;
}
